@font-face{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}


html, body {
    margin: 0;
    padding: 0;
    
    color: white;
    /*font-family:"";*/
}

.padding_total{
    padding-left: 3%;
    padding-right: 1%;


}

