/* GENERAL */
*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}

/* HEADER */

h1
{
    color: white;
    font-family:"Strong Concrete";
    font-size: 340%;
    padding-left: 2%;
    margin-bottom: 17%;
    margin: 20px;
    padding-bottom: 60px;


    
}

#Logoblanc1
{
    right: 100%;
    padding-right: 70%;
}

#Logoblanc
{
    margin-left: 40px;
    margin-bottom: 5px;

}

h2
{
    color: #FFFF;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    text-align: right;
    margin: 10px;
    padding-left: 20px;

}

.cyclean-trait{
    width: 50%;
    height: 4px;
    margin-bottom: 15%;
    background-color:rgb(255, 255, 255);
    border: white;
    float: left;
    margin-right: 20px;
}

 