html, body {
    margin: 0;
    padding: 0;
}

.container .box { 
    width: 100%;
    display:table; 
    overflow-x:auto;
    
} 
.container .box .box-row { 
    display:table-row; 
    
    
} 
.container .box .box-cell { 
    display:table-cell; 
 
    padding:10px; 
    
} 

.container .box .box-cell.box1 { 
    background:green; 
    color:white; 
    text-align:center; 
    
    
} 
.container .box .box-cell.box2 { 
    background:lightgreen; 
    text-align:center;
    
} 
.container .box .box-cell.box3 { 
    background:lime; 
    text-align:center;    
}