html, body {
    margin: 0;
    padding: 0;
    
    color: white;
    background-color:#d3cae6;
}


        /*Propriétés de marges*/
/*----------------------------------------*/
.padding_total{
    padding-left: 3%;
    padding-right: 1%;
}
/*----------------------------------------*/


/*-----------------------------------------------------------------------HEADER--------------------------------------------*/


.navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    list-style: none;

  }


.navigation > li> a {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 90%;
    font-weight: bold;
    display: inline;
    text-decoration: none;

    position: relative;


  }
        /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
    background-color:white;
    content:""; /*Contenu invisible*/
    height:2px;
    width:15px;

    position:absolute;
    top: 50%;
    right: -19px;

    display: block;




    transform-origin:left center;
    transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
    transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
    transform:scaleX(1) /*Commence l'animation après hover*/
   }
/*------------------------------------------------------------------*/



/*----------------FOOTER-------------------*/
.container_footer{
    padding-top: 2%;
    padding-bottom: 1.5%;

    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.texte_footer{
    color: #d3cae6;
    vertical-align: center;
    text-align: center;
    font-weight: 1000;
}
/*-------------END FOOTER-------------------*/


  
 /*---------------------------------------------------------------------------------------------------*/


.container-flex{
    display: flex;
}

.space{
    justify-content:space-between;
}
