html, body {
    margin: 0;
    padding: 0;
    
    color: white;
    /*font-family:"";*/
}

.padding_total{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2.5%;
}

a {
    /*Enlever surlignage bleu pour les liens de la barre de nav*/
    color: #FFFFFF;
    text-decoration: none;
}


                                /*Partie principale de la page (dans l'ordre)*/
 /*---------------------------------------------------------------------------------------------------*/


.navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    list-style: none;
  }

.navigation a {
    /*Enlever surlignage bleu pour les liens de la barre de nav*/
    color: #FFFFFF;
    text-decoration: none;
}

.navigation > li> a> h2 {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 110%;
    display: inline;
    margin-right: 5%;
  }



  
#cyclean{
    width:400px;
  
    padding-left:1%;
    padding-bottom: 2%;
  
  }


#bloc_gris{
    display: flex;

    /*Lignes précédentes pour avoir la nav bar alignée avec le texte CYCLEAN FOR ENVIRONMENT dans la page d'accueil du login*/
    
    background-color: #B2BDCC;
    padding-bottom: 2.5%;
    padding-left: 1%;
    padding-right: 1%;
}


.velo-container{

    background-image: url("images/BIKE_2.png");

    background-size: cover;
    background-repeat: no-repeat;
   
    
    
    display: flex;
    justify-content:space-around;


}

 /*---------------------------------------------------------------------------------------------------*/









                                    /* Les 3 blocs de la page d'accueil*/
 /*---------------------------------------------------------------------------------------------------*/
.couleur_stats_accueil{
    background-color:#9e8585;
}
a.couleur_stats_accueil:hover{
    background-color:#b29999;
    transition: 0.8s;
}



.couleur_activites_accueil{
    background-color:#d3cae6;
}
a.couleur_activites_accueil:hover{
    background-color:#e7defa;
    transition: 0.8s;
}

.couleur_classement_accueil{
    background-color:#92c192;
}
a.couleur_classement_accueil:hover{
    background-color:#a6d5a6;
    transition: 0.8s;
}


.flex-3box{
    flex-grow:1;
    flex-basis: 29%; /*Taille initiale*/
    padding-left: 2%;
    padding-right: 2%;

}
 /*---------------------------------------------------------------------------------------------------*/










                                            /*Différents types d'écriture*/
 /*---------------------------------------------------------------------------------------------------*/



 .slogan {
    color: white;
    font-family:"Strong Concrete";
    font-size: 340%;
    margin-bottom: 17%;
  }


.titre {
    color: white;
    font-family:Helvetica;
    font-size: 250%;
}

.titre2 {
    color: white;
    font-family:Helvetica;
    font-size: 110%;
    display: inline;
    margin-right: 5%;
}
 /*---------------------------------------------------------------------------------------------------*/







 

                                            /*ATTRIBUTS*/
 /*---------------------------------------------------------------------------------------------------*/

.space{
    justify-content:space-between;
}

.center{
    display: flex;
    justify-content: center;
}

.gris{
    background-color: #B2BDCC;
 }

.container-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.index1{
    z-index:1;
}


 /*---------------------------------------------------------------------------------------------------*/





 .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
  }





                                        /*Différents traits*/
 /*---------------------------------------------------------------------------------------------------*/

.home {
    width: 95%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;
    float: left;
}

.cyclean-trait{
    width: 100%;
    height: 3px;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color:rgb(255, 255, 255);
    border: white;
    float: left;
}

.border{
    /*Barres verticales dans la partie vélo*/

    border-left: 3px solid white;
    padding-left: 2%;
    margin-top: 10%;
}
