
     /*Propriétés de marges*/
/*----------------------------------------*/
.padding_total{
    padding-left: 3%;
    padding-right: 1%;
}
/*----------------------------------------*/


/*-----------------------------------------------------------------------HEADER--------------------------------------------*/


 .navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    list-style: none;

  }


.navigation > li> a {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 90%;
    font-weight: bold;
    display: inline;
    text-decoration: none;

    position: relative;


  }
        /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
    background-color:white;
    content:""; /*Contenu invisible*/
    height:2px;
    width:15px;

    position:absolute;
    top: 50%;
    right: -19px;

    display: block;




    transform-origin:left center;
    transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
    transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
    transform:scaleX(1) /*Commence l'animation après hover*/
   }
/*------------------------------------------------------------------*/




/*-----------------------------------------------------------------END HEADER-------------------------------------------------*/

h1
{
    color: white;
    margin: 0 5%;
    font-family:"Strong Concrete";
    font-size: 340%;
    padding-left: 2%;
    margin-bottom: 20%;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #FFFF;
    width:fit-content;


}


h2
{
    color: #FFFF;
    font-family: Arial, Helvetica;
    line-height: 70px;
    text-align: left;
    margin-right: 10px;

}

.team
{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}
#logo
{
    max-height: 200px;
    max-width: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}





  
p
{
    
    color: white;
    font-weight: bold;
    font-family:Helvetica;
    font-size: 12px;
    margin-top: 100px;
    padding-right: 20px;
    


}

.graph
{
    margin-right: 20px;
    margin-bottom: 20px;


}


