#header_container

{
    background-color: #B2BDCC;
    /*border-radius: 10px 10px 10px 10px;*/
    margin-top: 0;

}

.slogan {
    color: white;
    font-family:"Strong Concrete";
    font-size: 400%;
  }