html, body {
    margin: 0;
    padding: 0;
    color: #727272;
}

canvas{
    background-color: white;
}

header {
    background-color: #B2BDCC;
}

.padding_total{
    padding-left: 3%;
    padding-right: 1%;
}


                                            /*Différents types d'écriture*/
 /*---------------------------------------------------------------------------------------------------*/
 .slogan {
    color: white;
    font-family:"Strong Concrete";
    font-size: 400%;

  }

  
.titre {
    font-family:Helvetica;
    font-size: 300%;
}

.titre2 {
    font-weight: bold;
    font-family:Helvetica;
    font-size: 110%;
}

  /*---------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------HEADER--------------------------------------------*/


.navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    list-style: none;

  }


.navigation > li> a {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 90%;
    font-weight: bold;
    display: inline;
    text-decoration: none;

    position: relative;


  }
        /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
    background-color:white;
    content:""; /*Contenu invisible*/
    height:2px;
    width:15px;

    position:absolute;
    top: 50%;
    right: -19px;

    display: block;




    transform-origin:left center;
    transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
    transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
    transform:scaleX(1) /*Commence l'animation après hover*/
   }
/*------------------------------------------------------------------*/

/*----------------FOOTER-------------------*/
.container_footer{
    padding-top: 2%;
    padding-bottom: 1.5%;

    background-color: #B2BDCC;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.texte_footer{
    color: #FFFFFF;
    vertical-align: center;
    text-align: center;
    font-weight: 1000;
}
/*-------------END FOOTER-------------------*/


input:focus, textarea:focus, select:focus{
    outline: none;
}

.container-flex{
    display: flex;
}

.space{
    justify-content:space-between;
}

hr {
    border: none;
    border-top: 1px solid black;
    width: 80%;
    height: 5px;
    margin-top: -2px;
}   


.container-flex{
    display: flex;
}


.grid{
    display: grid;
    width: 100%;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); /*comme auto auto auto*/


    grid-row-gap: 65%;


    grid-auto-flow: row; /*afin de centrer le grid*/
    justify-items: center; /*afin de centrer le grid*/
    align-items : center; /* aligner verticallement*/
}

.center{
    justify-content: center;
    
}

.fixed{
    position: fixed;
    width: 100%;
    height: 10%;
}

textarea {
   resize: none;
}