@font-face{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}


html, body {
    margin: 0;
    padding: 0;
        
    color: white;
    background-color:#B4BDCB;
}

/*-----------------------------------------------------------------------HEADER--------------------------------------------*/

.padding_total{
    padding-left: 3%;
    padding-right: 1%;
}

.container-flex{
    display: flex;
}

.space{
    justify-content:space-between;
}


 .navigation{ /*classe car réultilisation plus tard*/
    text-align: right;
    list-style: none;

  }


.navigation > li> a {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 90%;
    font-weight: bold;
    display: inline;
    text-decoration: none;

    position: relative;


  }
        /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
    background-color:white;
    content:""; /*Contenu invisible*/
    height:2px;
    width:15px;

    position:absolute;
    top: 50%;
    right: -19px;

    display: block;




    transform-origin:left center;
    transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
    transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
    transform:scaleX(1) /*Commence l'animation après hover*/
   }

/*-----------------------------------------------------------------END HEADER-------------------------------------------------*/

.titre{
    font-size: 300%;
    color: white;
    font-family:"Strong Concrete";
    margin-left: 5%;
    letter-spacing: 3px;
}

.classement-trait{
    margin-left: 5%;
    background-color: #B4BDCB;
    width: 50%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;

}

.corps{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 5%;
}

.poste{
    width: 70%;
}


/*--------------------------------------------------------------------------FOOTER----------------------------------------*/
.container_footer{
    padding-top: 2%;
    padding-bottom: 2%;

    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.texte_footer{
    margin-bottom: 5px;
    color: #B4BDCB;
    vertical-align: center;
    text-align: center;
    font-weight: 1000;
}
/*----------------------------------------------------------END FOOTER--------------------------------------------------------------*/
