@font-face{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}

html, body {
    margin: 0;
    padding: 0;
    
    color: white;
    background-color:#9e8585;

    display : flex;
    flex-direction: column;

}

h2{    font-size: 500px;}

p,h2{
    font-size: 130%;
}


/*Propriétés de marges*/
/*----------------------------------------*/
.padding_total{
    padding-left: 3%;
    padding-right: 1%;
}

.margin-sides{
    margin-left: 8%;
    margin-right: 8%;
}
.padding-sides{
    padding-left: 10%;
    padding-right: 10%;
}

.special-margin{
    margin-bottom:300px;
}


/*----------------------------------------*/







                                /*Partie principale de la page (dans l'ordre)*/
 /*---------------------------------------------------------------------------------------------------*/

 .navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    list-style: none;

  }


.navigation > li> a {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 90%;
    font-weight: bold;
    display: inline;
    text-decoration: none;

    position: relative;


  }
        /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
    background-color:white;
    content:""; /*Contenu invisible*/
    height:2px;
    width:15px;

    position:absolute;
    top: 50%;
    right: -19px;

    display: block;




    transform-origin:left center;
    transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
    transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
    transform:scaleX(1) /*Commence l'animation après hover*/
   }
/*------------------------------------------------------------------*/





/*----------------FOOTER-------------------*/
.container_footer{
    padding-top: 2%;
    padding-bottom: 1.5%;

    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-top: auto;
}

.texte_footer{
    color: #9E8585;
    vertical-align: center;
    text-align: center;
    font-weight: 1000;
}
/*-------------END FOOTER-------------------*/





 .bloc_marron{

    display: flex;

    padding-bottom: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
    
    align-items : center; /* aligner verticallement*/
}

 
 .grid{
    display: grid;
    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); /*comme auto auto auto*/


    grid-row-gap: 5%;
    padding-bottom: 2.5%;

    grid-auto-flow: row; /*afin de centrer le grid*/
    justify-items: center; /*afin de centrer le grid*/
    align-items : center; /* aligner verticallement*/
}


  .Image_Profil1 {
    border-radius: 100%;
    width: 150px;
    height: 150px;

    box-shadow: 0 0 33px rgba(33, 33, 33, 0.4);
  }

  .graph{
    background-color:white;
    width:93%;
    justify-content: center;
  }



@media screen and (max-width: 1000px) {

    .imgtop { /*réutiliser pour toutes les pages avec imgtop*/
        display: none; /*Image du haut supprimée*/
    }

    .vline{
        display: none; /*Traits Verticaux supprimés*/
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, auto); /*comme auto auto auto*/
        margin-bottom: 600px;
    }
}


@media screen and (min-width: 1000px) {
    .special-cyclean-trait{
        display: none; /*Traits Horizontaux supprimés*/
    }

    .special-margin{
        margin-bottom:0; /*Reset lorsqu'on revient à la normale*/
    }
}

.moyenne-box-padd{
    padding-left:4%;
    padding-bottom:100px;
    padding-top:20px;
}
 /*---------------------------------------------------------------------------------------------------*/











                                            /*Différents types d'écriture*/
 /*---------------------------------------------------------------------------------------------------*/

.stats{
    color: white;
    font-family:"Strong Concrete";
    font-size: 800%;
  }


.Pseudo{
    font-family: "Strong Concrete";
    font-size: 36px;
    margin:0;
    padding:0;
}

.slogan {
    color: white;
    font-family:"Strong Concrete";
    font-size:3vw;
  }

.slogan_pourc{
        color: white;
        font-family:"Strong Concrete";
        font-size:300%;
}

.padd_left{
    padding-left: 1.2%;
}

  
.titre {
    color: white;
    font-family:Helvetica;
    font-size: 250%;
}

h1{
    margin:0;
}

.titre2 {
    color: white;
    font-family:Helvetica;
    font-size: 140%;


}

.moyenne{
    color: white;
    font-family:"Strong Concrete";
    font-size: 130%;
}

  
.text-center{
    text-align:center;
}


.imgflip_right{
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.imgflip_down{
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}






 /*---------------------------------------------------------------------------------------------------*/


                                            /*ATTRIBUTS*/
 /*---------------------------------------------------------------------------------------------------*/
.space{
    justify-content:space-between;
}

.around{
    justify-content: space-around;
}

.center{
    justify-content: center;
    
}

.v_center_align{
    align-items : center; /* aligner verticallement*/
    vertical-align: middle;
    text-align: center;
}

.color{
    background-color:#927879;
}


.container-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.fbasis50{
    flex-basis:50%;
}

.padd_inside{
    padding:1%;
}

.arrondi{
    border-radius: 9px;
}

 /*---------------------------------------------------------------------------------------------------*/






        /* Différentes lignes*/
/*----------------------------------------*/


/* lignes verticales MAIS CENTREES par la suite*/
.vline {
    border-left: 3px solid white;
    height: 400px;
  }

#addFriend{
    color:white;
    border: solid white 1px;
    background-color: unset;
}

#SupprimerCompte{
    color:#d3cae6;
    border: solid #d3cae6 1px;
    background-color: unset;
    margin-bottom: 10px;
}

#SupprimerCompte:hover {
    box-shadow:  0 0 5px #d3cae6;
}

#addFriend:hover {
    box-shadow:  0 0 5px white;
}

/* ligne horizontale principale*/
.cyclean-trait{
    width: 80%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;

}

.special-cyclean-trait{
    width: 80%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;
}
 /*----------------------------------------*/