@font-face{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}


html, body {
    margin: 0;
    padding: 0;
        
    color: white;
    background-color:#92C192;
}

.titre {
    color: white;
    font-family:Helvetica;
    font-size: 250%;
}

.titre2 {
    color: white;
    font-family: Helvetica;
    font-size: 110%;
    display: inline;

}

        /*Propriétés de marges*/
/*----------------------------------------*/
.padding_total{
    padding-left: 3%;
    padding-right: 1%;
}
/*----------------------------------------*/


/*-----------------------------------------------------------------------HEADER--------------------------------------------*/

.container-flex{
    display: flex;
}

.space{
    justify-content:space-between;
}


 .navigation{ /*classe car réultilisation plus tard*/
    text-align: right;
    list-style: none;

  }


.navigation > li> a {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 90%;
    font-weight: bold;
    display: inline;
    text-decoration: none;

    position: relative;


  }
        /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
    background-color:white;
    content:""; /*Contenu invisible*/
    height:2px;
    width:15px;

    position:absolute;
    top: 50%;
    right: -19px;

    display: block;




    transform-origin:left center;
    transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
    transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
    transform:scaleX(1) /*Commence l'animation après hover*/
   }

/*-----------------------------------------------------------------END HEADER-------------------------------------------------*/

/*---------------------------------------------------Classement des utilisateurs + image---------------------------------------*/


.bloc_vert{
    display: flex;
    flex-wrap: wrap;
    /*justify-content:space-between;*/
    /*Lignes précédentes pour avoir la nav bar alignée avec le texte CYCLEAN FOR ENVIRONMENT dans la page d'accueil du login*/
    background-color: #92C192;
    /*border-radius: 10px 10px 10px 10px;*/
    padding-bottom: 2.5%;
    padding-left: 1%;
    padding-right: 1%;
}



.classement_des_utilisateurs{

    width:400px;
    padding-left:1%;
    padding-bottom: 2%;
   }

  .slogan {
    /*background-color: beige;*/
    width: 40%;
    color: white;
    font-family:"Strong Concrete";
    font-size: 250%;
    margin-left: 5%;
    margin-bottom: 17%;
    margin-top: 7%;
    letter-spacing: 3px;
    transform: scaleY(1.1);
    
  }

  .image_empreinte{
      width: 49%;
      text-align: right;
      /*background-color: azure;*/
      margin-top: 0%;
      margin-right: 5%;
  }

  .classement-trait{
    margin-left: 5%;
    background-color: #92C192;
    width: 90%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;

}
/*------------------------------------------------END Classement des utilisateurs + image-------------------------------------*/



/*-------------------------------------------------------------BLOC PODIUM---------------------------------------------------*/


.bloc_podium{
    display: flex;
    background-color: #92C192;
    flex-wrap: nowrap;
    margin-bottom: 5%;
    margin-top: 5%;
    
}

.section_contenu{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.un_deux_trois{
    
    margin-left: 25%;
    font-size: 1000%;
    font-family:"Strong Concrete";
    color: #92C192;
    background-color: white;
    width: 55%;
}

.trait{
    width: 3%;
    background-color: white;
    margin-left: 1%;
}

.pseudos{
    height: 33.33333%;
    margin-top: 15%;
    font-size: 300%;
    font-family: Helvetica, Sans-Serif; 
    font-weight: bolder;
    margin-left: 15%;

}

.points_cyclean{
    height: 33.33333%;
    margin-top: 15%;
    margin-left: 15%;
    font-size: 300%;
    font-family:"Strong Concrete";
    font-weight: bolder;

}

/*-------------------------------------------------------------END BLOC PODIUM-----------------------------------------------*/

/*----------------------------------------------------------Classement personnel---------------------------------------------*/

.classement_personnel{
    display: flex;
    flex-wrap: nowrap;
    background-color: #92C192;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.informations_personelles{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 100%;
    
    text-align: center;
}

.photo_de_profil{
    width: 20%;
    margin-left: 10%;
    margin-top: 2%;
}



.emplacement_informations{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-size: x-large;
    margin-left: 0%;
    margin-bottom: 0%;
    height: 15%;
    
    
}

.titres{
    /*height: 0%;*/
    font-family: Helvetica, Sans-Serif;
    margin-top: 0%;
    margin-top: 0%;
    width: 25%;
   
}

.boites{
    height: 80%;
    margin-left: 0%;
    display: flex;
    flex-wrap: wrap;

    

}

.rectangles{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    margin-left: 4.5%;
    
}



.rectangles_titres{
    width: 90% ;
    margin-top: 5%;
    height:20%;
    background-color: #92C192;
    border: 10px;
    border: solid;
    border-radius: 5px;
    margin-bottom: 0%;
    border-color: #84af84;
    font-size: larger;
    text-align: center;
    line-height: 50px;

}  

a {
    text-decoration: unset;
    color:white;
}


/*-----------------------------------------------------END Classement personnel---------------------------------------------*/



/*--------------------------------------------------------------------------FOOTER----------------------------------------*/
.container_footer{
    padding-top: 2%;
    padding-bottom: 2%;

    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.texte_footer{
    color: #92C192;
    vertical-align: center;
    text-align: center;
    font-weight: 1000;
}
/*----------------------------------------------------------END FOOTER--------------------------------------------------------------*/

