/*General*/

font-face{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}


/*header*/


.titre2 {
    color: white;
    font-weight: bold;
    font-family:Helvetica;
    font-size: 110%;
    display: inline;
    margin-right: 5%;
}


.news-trait
{
    width: 50%;
    height: 4px;
    margin-bottom: 15%;
    background-color:rgb(255, 255, 255);
    border: white;
    float: left;
    margin-right: 20px;
}

.h1
{
    color: white;
    font-family:"Strong Concrete";
    font-size: 340%;
    padding-left: 2%;
    margin-bottom: 17%;
    margin: 20px;
    padding-bottom: 60px;


}

.container1
{
    padding-bottom: right;
    background-color: slategray;
}
