@font-face{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}

.texte{
    text-align: center;
    color: red;
    opacity: 0.6;
}

html, body {
    margin: 0;
    padding: 0;
    color: #727272;
    height: 100%;
    min-height: 100%;

}

body{
    width:100%;
    min-width:100%;
    max-width:100%;
    top: 0;
    bottom:0;
    position:absolute;
    overflow-x: hidden;
}

canvas{
    background-color: white;
}



header {
    background-color: #B2BDCC;
}

.padding_total{
    padding-left: 3%;
    padding-right: 1%;
}


                                            /*Différents types d'écriture*/
 /*---------------------------------------------------------------------------------------------------*/
 .slogan {
    color: white;
    font-family:"Strong Concrete";
    font-size: 300%;

  }

  
.titre {
    font-family:Helvetica;
    font-size: 300%;
}

.titre2 {
    font-weight: bold;
    font-family:Helvetica;
    font-size: 110%;
}

  /*---------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------HEADER--------------------------------------------*/


.navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    list-style: none;

  }


.navigation > li> a {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 90%;
    font-weight: bold;
    display: inline;
    text-decoration: none;

    position: relative;


  }
        /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
    background-color:white;
    content:""; /*Contenu invisible*/
    height:2px;
    width:15px;

    position:absolute;
    top: 50%;
    right: -19px;

    display: block;




    transform-origin:left center;
    transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
    transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
    transform:scaleX(1) /*Commence l'animation après hover*/
   }
/*------------------------------------------------------------------*/

/*----------------FOOTER-------------------*/
.container_footer{
    padding-top: 2%;
    padding-bottom: 1.5%;

    background-color: #B2BDCC;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.texte_footer{
    color: #FFFFFF;
    vertical-align: center;
    text-align: center;
    font-weight: 1000;
}
/*-------------END FOOTER-------------------*/


input:focus, textarea:focus, select:focus{
    outline: none;
}

.container-flex{
    display: flex;
}

.space{
    justify-content:space-between;
}

.v_center_align{
    align-items : center; /* aligner verticallement*/
    vertical-align: middle;
}


hr {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    height: 5px;
    margin-top: -2px;
    margin-left:0;
}   

.partie{
    padding-left: 20px;
}

textarea{
    width: 100%;
}
.container-flex{
    display: flex;
}

.spec:hover{

    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.button_fixed{
    position: fixed;
}




.center{
    justify-content: center;
    
}


.no-outline{
    font-size: 110%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-size: larger;
}

.no-outline:focus {
    outline: none;
}


.fixed{
    width: 100%;
}

.margin_spec{
    padding-right: 400%;
}

textarea {
   resize: none;
}



.arrow_position{
    top:50%;
}

.left{
    left:0;
}

.right{
    right:0;
}

.flex_phone{
    display:block;
}

@media screen and (max-width: 1000px) {

    .height-sometimes{
        height:80%;
    }

    .arrow_position{
        top:unset;

    }

    .left{
        left:unset;

    }

    .arrow_img{
        width: 20px;
    }


    .flex_phone{
        display:flex;
        justify-content: space-between;
    }


}

@media screen and (min-width: 1000px) {

    .height-sometimes{
        height:unset;
    }



}

