@font-face{
  src : url(fonts/StrongConcrete-Bold.otf);
  font-family: Strong Concrete;
}

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #b4bdcb;
  }

  
html, body {
  margin: 0;
  padding: 0;
  
  color: white;
  /*font-family:"";*/
}

.padding_total{
  padding-left: 3%;
  padding-right: 1%;
}

  
 .navigation{ /*classe car réultilisation plus tard*/
  text-align:right;
  list-style: none;

}


.navigation > li> a {
  /*Personnaliser le texte dans la barre de nav*/
  color: white;
  font-family:Helvetica;
  font-size: 90%;
  font-weight: bold;
  display: inline;
  text-decoration: none;

  position: relative;


}


a {
  /*Enlever surlignage bleu pour les liens de la barre de nav*/
  color: #FFFFFF;
  text-decoration: none;
}


      /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
  background-color:white;
  content:""; /*Contenu invisible*/
  height:2px;
  width:15px;

  position:absolute;
  top: 50%;
  right: -19px;

  display: block;




  transform-origin:left center;
  transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
  transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
  transform:scaleX(1) /*Commence l'animation après hover*/
 }
/*------------------------------------------------------------------*/

  
  /*header*/
  .header {
    margin: 0 5%;
    border-bottom: 3px solid #fff;
    width: fit-content;
  }
  
  .header .logo {
    padding: 5px;
    width: 50px;
  }
  
  .header .header__content {
    margin: 30px 0;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .header .title {
    color: white;
    font-family: "Strong Concrete";
    font-size: 3rem;
  }
  
  .header .nav__socials {
    padding-left: 100px;
  }
  
  .header .nav__socials .nav__item {
    padding-right: 50px;
    color: white;
    font-size: 1.5rem;
  }
  
/*Reste de la page */

/*header*/
 

.article_container {
    margin: 20px 5%;
    background: #b0baca;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .article_container .article_content {
    color: #fff;
    font-weight: bold;
    font-family: helvetica;
    font-size: small;
  }
  
  .article_container .graph {
    width: 200px;
    margin-top: 10px;
    margin-right: 100px;
    align-self: flex-end;
   
  }
  

  
.space{
  justify-content:space-between;
}

.center{
  display: flex;
  justify-content: center;
}
  

