@font-face{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}


html,body{
    color: white;
    background-color: #fcc2d7;
    /*Autre couleur*/
    /*background-color: #D3CAE6;*/
    margin: 0;
    padding: 0;
    height: 100%;
    /*box-sizing: border-box;*/ 
    display : flex;
    flex-direction: column;  
}


/*-----------------------------------------------------------------------HEADER--------------------------------------------*/

.container-flex{
    display: flex;
}

.space{
    justify-content:space-between;
}


 .navigation{ /*classe car réultilisation plus tard*/
    text-align: right;
    list-style: none;

  }


.navigation > li> a {
    /*Personnaliser le texte dans la barre de nav*/
    color: white;
    font-family:Helvetica;
    font-size: 90%;
    font-weight: bold;
    display: inline;
    text-decoration: none;

    position: relative;


  }
        /*Animation CSS pour la barre de navigation*/

/*------------------------------------------------------------------*/
.navigation > li> a::after {
    background-color:white;
    content:""; /*Contenu invisible*/
    height:2px;
    width:15px;

    position:absolute;
    top: 50%;
    right: -19px;

    display: block;




    transform-origin:left center;
    transition: transform .2s ease-in-out,color .2s ease-in-out; /*pour le dégradé temporel entrant*/
    transform:scaleX(0) /*Commence sans rien*/
}
.navigation > li> a:hover::after {
    transform:scaleX(1) /*Commence l'animation après hover*/
   }

/*-----------------------------------------------------------------END HEADER-------------------------------------------------*/



.titre {
    width: 40%;
    color: white;
    font-family:"Strong Concrete";
    font-size: 250%;
    margin-left: 5%;
    margin-bottom: 17%;
    margin-top: 7%;
    letter-spacing: 3px;
    transform: scaleY(1.1);
}




/*---------------------------------------------------FOOTER------------------------------------------*/
.container_footer{
    padding-top: 1%;
    padding-bottom: 1.5%;

    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-top: auto;
}

.texte_footer{
    color: #B4BDCB;
    vertical-align: center;
    text-align: center;
    font-weight: 1000;
}

/*----------------------------------------------------End FOOTER---------------------------------------*/